html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);*/
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(19, 96, 190, 0.2);
  /*-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(19, 96, 190, 0.2);
}
